@charset "utf-8";
/* CSS Document */


#condiv{
	width: 670px;
	background-color: #FFF;
	height: 460px;
	float:right;
	margin-top: -460px;
}

#currentplace{
	float: right;
	height: 40px;
	background-color: #61a3ff;
	margin-top: -500px;
	width: 670px;
	
	
}
#frontcurrentplace{
	float: right;
	height: 40px;
	background-color: #61a3ff;
	margin-top: -440px;
	width: 670px;
	
	
}
#condivindex{
	width: 570px;
	background-color: #FFF;
	height: auto;
	float:right;
	margin-top: -410px;
}

.condivresult{
	width: 670px;
	background-color: #FFF;
	height: 410px;
	float:right;
	margin-top: -220px;
}
#frontcondivresult{
	width: 670px;
	background-color: #FFF;
	height: 410px;
	float:right;
	margin-top: -400px;
}

#footer{
	width: 900px;
	height: 85px;
	background-color: #3388ff;
	margin-top: 20px;

	
}


#steamdiv{
	width: 220px;
	height: 440px;
	background-color: #7cb3ff;
}